.sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning {
  width: 90%;
  border: 1px solid red;
  border-radius: 8px;
  margin: 12px auto;
  padding: 8px 12px;
  text-align: center;
}

.warning p {
  margin-bottom: 12px;
}

.card_sect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid rgb(186, 185, 185);
  padding: 8px 12px;
  text-align: center;
  border-radius: 8px;
  margin: 8px;
}
