.edit_btn, .delete_btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.edit_btn:hover, .delete_btn:hover {
  opacity: 0.8;
}

.edit_btn:active, .delete_btn:active {
  color: var(--accent);
}

.order {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 32px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
}

.message {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 250px;
  height: 50px;
  border: 1px solid gray;
  border-left: 3px solid red;
  background-color: white;
  padding: 4px;
  z-index: 1;
}

.search_sect {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order_mobile {
  margin-bottom: 16px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid var(--gray);
  background-color: transparent;
  font-size: 1.2rem;
}
